body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-image: url(Astro.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 0;
    margin:0;
    color: aliceblue;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
 background: linear-gradient(to top right,rgb(0, 0, 0),rgb(119, 118, 118), rgb(247,97,1), #f3dc58,rgb(130, 129, 129), rgb(0, 0, 0));
      overflow: hidden;
      color: rgba(255, 255, 255, 0.805);
      font-weight: bold;
      position:sticky;
      top: 0;
}
 .logo img{
  width: 7rem;
  animation: rotationBack 800ms infinite reverse;
}

@keyframes rotationBack {
  100% {
    transform: rotate(-360deg);
  }
}
 
.top-text{
  font-size: 2.6rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.217);
    height: 10rem;
    width: 20rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    font-weight: 800;
    overflow: hidden;
    transition: 1000ms;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 2rem;
   color: rgb(255, 255, 255);
}
input[type="date"]{
  font-size: 1.4rem;
  background-color:rgba(255, 255, 255, 0.952);
  border-radius: 2rem;
   color: rgb(0, 0, 0);
    font-weight: 600;
}
button{
  color: #ffffff;
  width: 8rem;
  height: 3rem;
 background: linear-gradient(to top right, rgb(247,97,1), #f3dc58);
 border: none;
 border-radius: 2rem;
 font-size: 1.4rem;
 font-weight: 600;
   transition: 60ms;
   box-shadow: 0 20px 30px -6px  rgb(193, 135, 2);
}
button:active {
  transform: translateY(3px);
  box-shadow: none;
   color: rgb(0, 0, 0);
}
button:hover {
 border:2px solid #ffffff;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  background-color: #f3dc5820;
  font-size: 2rem;
  width: 50rem;
  border-radius: 2rem;
  color: rgb(217, 217, 217);
  overflow: hidden;
  border: 3px solid rgba(92, 95, 12, 0.431); 
   transition: 2s;
}
.card:hover{
   border-radius: 1rem;
    border: 3px solid rgba(37, 38, 4, 0.791); 
transition: 1500ms;
  background-color: #a78f0a6e;
.container{
  transition: 500ms;

  color: #ffffff;
}
}
.hidden{
  transition: 2s;  
  opacity: 0;
  transform: translateX(8rem) ;
}
.Title{
  display: flex;
background-color:rgb(53, 43, 7);
  box-sizing: border-box;
  padding: 1rem;
  height: max-content;
  width: max-content;
  overflow: hidden;
  transition: 500ms;
  border-radius: 2rem;
}
.image_container img{
width:10rem;
}
.container{
  padding: 1rem;
   font-weight: 600;
}
footer{
  box-sizing: border-box;
 background-color: white;
  color: black;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.end{
  display: flex;
    font-size: medium;
}
a{
  margin-right:1rem ;
  color: black;
}
@media screen and (max-width:800px) {
  body{
    color: rgb(0, 0, 0);
   align-items: center;
   justify-content: center;
  }
  .card{
    width: 80%;
    font-size: 1.2rem;
   margin:1rem 0.5rem 0.5rem 0.5rem;
  }
  .container{
  padding: 0.1rem;
}
a{
  margin-right:0.5rem ;
  color: black;
}
}


