body{
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-image: url(https://mindbodygreen-res.cloudinary.com/image/upload/c_fill,w_2000,h_1200,g_auto,fl_lossy,f_jpg/org/4qpiefgrjkebjn95u.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 0;
    margin:0;
    color: aliceblue;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  /* background-image: url(https://images.pexels.com/photos/1146134/pexels-photo-1146134.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-repeat: no-repeat;
   background-size: cover ; */
      overflow: hidden;
      border-bottom:2px solid rgb(255, 255, 255) ;
}
 img{
  width: 6rem;
  animation: rotationBack 800ms infinite reverse;
}

@keyframes rotationBack {
 0% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(-360deg);
  }
}
 img:hover{
  transform: scaleY(1.5);
  transition: 500ms;
}
.top-text{
  font-size: 3rem;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: rgba(245, 245, 220, 0.476);
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  font-size: 2rem;
}


